{% extends 'concertowl/base.html' %}
{% load widget_tweaks %}

{% block title %}
Login
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Login
        </h1>
        <h2 class="subtitle">
            Here you can login!
        </h2>
        <form method="post" action="/login/?next=/user_preferences/">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <p class="help is-danger">{{ form.non_field_errors.0|escape }}</p>
            {% endif %}
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    {{ form.username|add_class:"input" }}
                </div>
                {% if form.username.errors %}
                    <p class="help is-danger">{{ form.username.errors.0|escape }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    {{ form.password|add_class:"input" }}
                </div>
                {% if form.password.errors %}
                    <p class="help is-danger">{{ form.password.errors.0|escape }}</p>
                {% endif %}
            </div>
            <button type="submit" class="button is-primary">
                Log in
            </button>
        </form>
    </div>
</section>
{% endblock %}