[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django-q = "*"
django-redis = "*"
gunicorn = "*"
icalendar = "*"
"psycopg2-binary" = "*"
redis = "*"
requests = "*"
retrying = "*"
spotipy = "*"
Django = "*"
Pillow = "*"
whitenoise = "*"
django-ipware = "*"
"maxminddb-geolite2" = "*"
django-widget-tweaks = "*"
raven = "*"
user-agents = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
