{% extends 'concertowl/base.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Change your preferences
    </h1>

    <form method="post">
      {% csrf_token %}
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Location</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <p class="control">
              <div class="select">
                {{ form.country|add_class:"js-country-select" }}
              </div>
            </p>
          </div>
          <div class="field is-narrow">
            <p class="control">
              <div class="select">
                {{ form.city|add_class:"js-city-select" }}
              </div>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Username</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              {{ form.username|add_class:"input" }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">E-Mail</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              {{ form.email|add_class:"input" }}
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              {{ form.password|add_class:"input" }}
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
</section>
{% endblock content %}