{% extends 'concertowl/base.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Change your preferences
    </h1>
    <h2 class="subtitle">
      Here you can change your settings, especially your event location! <br>
      If you provide a password and e-mail address you can also synchronize your artists and events across browsers.
    </h2>

    <form method="post">
      {% csrf_token %}
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Location</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <p class="control">
                {{ form.city|add_class:"input" }}
            </p>
          </div>
          <div class="field is-narrow">
            <p class="control">
                {{ form.country|add_class:"input" }}
            </p>
          </div>
        </div>
      </div>
      
      {% include "concertowl/vertical_form_field.html" with label="Username" form_field=form.username %}
      {% include "concertowl/vertical_form_field.html" with label="E-Mail" form_field=form.email %}
      {% include "concertowl/vertical_form_field.html" with label="Password" form_field=form.password %}

      {% if success %}
      <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <p class="help is-success">{{success}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
</section>
{% endblock content %}